.card-result {
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 40px; }

.card-result-red {
  background: linear-gradient(to right, #F85555, white); }

.card-result-blue {
  background: linear-gradient(to right, #67C1F5, white); }

.card-result-blue-red {
  background: linear-gradient(to right, #67C1F5, #F85555, white); }

.card-result-white {
  background: linear-gradient(to right, #FCFCC1, white); }

.card-result-white-green {
  background: linear-gradient(to right, #FCFCC1, #26B569, white); }

.card-result-green {
  background: linear-gradient(to right, #26B569, white); }

.card-result-black {
  background: linear-gradient(to right, #848484, white); }

.card-result-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px; }
